@font-face {
    font-family: "Bungee Hairline";
    src: url('fonts/BungeeHairline-Regular.ttf');
}

@font-face {
    font-family: "Arvo";
    src: url('fonts/Arvo-Bold.ttf');
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#ping-pong {
    position: relative;
    width: 100%;
    height: 100%;
}

#ready {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, 0.9);
	background:url("images/logo2.png") no-repeat;
	background-position: center;
    z-index:10;
}

#ready span{
    position: fixed;
    width: 600px;
    height:300px;

    top:calc(50% - 125px);
    left:calc(50% - 300px);

	text-align: center;
    font-family: 'Arvo', serif;
    font-size: 60px;
    color: #fff;
    z-index: 15;
}

#time-container {
    position: absolute;
    top: 60px;
    left: 50%;
    width: 200px;
    height: 150px;
    margin-left: -100px;
    box-sizing: border-box;
    background: white;
    border: solid 5px #000;
    z-index: 2;

    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    font-size: 54px;
    text-align: center;
	vertical-align: middle;
	line-height: 150px;
}

#player-left-container {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: rgba(42, 122, 176, 1);
    border-right: solid 5px #000;
}

#player-right-container {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background: rgba(208, 111, 26, 1);
    border-left: solid 5px #000;
}

.ready{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 255, 0, 0.5);
    z-index:11;
}

.winner{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 255, 0, 0.8);
    z-index:11;
}

.winner span{
    display: block;

    position: absolute;

    width:250px;
    height:100px;

    top: 200px;
    left: calc(50% - 125px);

    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 60px;

}

.name {
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 60px;
}


.score {

    margin: 10% auto 0 auto;
    width: 500px;
    height: 400px;
    background: black;
    color: white;

    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    font-size: 300px;
    text-align: center;
	vertical-align: middle;
	line-height: 400px;
}

#service {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: calc(50% - 5px);
    padding: 20px;
    box-sizing: border-box;
    background: red;
    font-family: 'Arvo', serif;
    font-size: 45px;
    text-align: center;
}

#service.service-player-left {
    left: 0;
    right: auto;
}

#service.service-player-left {
    left: 0;
    right: auto;
}

#service.service-player-right {
    left: auto;
    right: 0;
}
